{% extends "layout.html" %}

{% block title %}
    Crear
{% endblock %}

{% block main %}

    <form action="/recetas" method="post">
        <body>
            <div class="form-group">
                <input autofocus autocomplete="off" class="form-control" name="name" placeholder="Comida" type="text">
            </div>
            <div class="form-group" id="ing">
                <input class="form-control" autocomplete=off name="ingredients" placeholder="Ingedientes" type="text">
            </div>
            <div class="form-group">
                <input class="form-control" autocomplete=off name="howto" placeholder="Pasos a seguir" type="text">
            </div>
            <button class="btn btn-primary" type="submit">Guardar receta</button>
            <input class="btn btn-danger" type="reset">
        </body>
    </form>

{% endblock %}
